.video-js {
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.videofilter1 {
    filter: blur(2px) brightness(10%);
}

.staticfilter1 {
    filter: hue-rotate(90deg) brightness(200%) contrast(150%);
}

.staticfilter2 {
    filter: hue-rotate(180deg);
}

.staticfilter3 {
    filter: contrast(200%);
}

.staticfilter4 {
    filter: grayscale(50%);
}