{% extends "player/base.html" %}
{% block content %}
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<video
				id="vid1"
				class="video-js vjs-default-skin"
				controls
				autoplay
				width="640" height="264"
				data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{ videoentry.url}}"}] }'
			>
			</video>
			<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/3.0.0/Youtube.js"></script>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
			<div id="tester"></div>
		</div>
	</div>
</div>
<script>
	TESTER = document.getElementById('tester');
	try {
		var string = '{{ videoentry.brightness_data }}';
		var n = string.replaceAll('&quot;', '"');
		console.log(n);
		var data = JSON.parse(n);	
	} catch (e){
		console.log('invalid json');
	}	
	Plotly.newPlot( TESTER, [{
	x: data['x'],
	y: data['y'],
	margin: { t: 0 } }] );
</script>
{% endblock %}