{% extends "player/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'player/video.css' %}">	
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
<div class="row">
	<div class="panel panel-default">		
		<div class="panel-body">
			<div class="btn-group" style="margin-bottom: 20px;">
				<button class="btn btn-lg" onclick="applyFilter(this)">staticfilter1</button>
				<button class="btn btn-lg" onclick="applyFilter(this)">staticfilter2</button>
				<button class="btn btn-lg" onclick="applyFilter(this)">staticfilter3</button>
				<button class="btn btn-lg" onclick="applyFilter(this)">staticfilter4</button>
			</div>
			<script>
				function applyFilter(btn) {					
					el = document.getElementById("vid1");
					if (btn.classList.contains("btn-dark")) {
						btn.classList.remove("btn-dark");
						el.classList.remove(btn.textContent);
					} else {
						btn.classList.add("btn-dark");
						el.classList.add(btn.textContent);
					}
				}
			</script>		
			<video
				id="vid1"
				class="video-js vjs-default-skin"
				controls
				data-setup='{
					"fluid": true,
					"techOrder": ["youtube"],
					"sources": [{ "type": "video/youtube", "src": "{{ videoentry.url }}"}],
					"youtube": { "modestbranding": 1, "ytControls": 0 },
					"controlBar": {
						"playToggle": true,
						"captionsButton": false,
						"chaptersButton": false,            
						"subtitlesButton": false,
						"remainingTimeDisplay": false,
						"progressControl": {
						  "seekBar": true
						},
						"fullscreenToggle": false,
						"playbackRateMenuButton": false
					}
				}'
			>
			</video>
			<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/3.0.0/Youtube.js"></script>
			<script src="{% static 'player/filter-controller.js' %}"></script>	
			<script>
				function signalRemove(vc) {
					vc.removeFilter();
				}	
				var vc = new FilterController('vid1', 'videofilter1', {{ videoentry.dangerous_interval }}, signalRemove)
				videojs('vid1').ready(function () {
					this.on('timeupdate', function () {
						console.log(this.currentTime());
						vc.timeUpdate(this.currentTime());
					});
					this.on('play', function () {
						console.log('play');
						vc.play();
					});
					this.on('pause', function () {
						console.log('pause');
						vc.pause();
					});
				});
				
			</script>		
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
			<div id="tester"></div>
		</div>
	</div>
</div>
<script>
	TESTER = document.getElementById('tester');
	try {
		var string = '{{ videoentry.brightness_data }}';
		var n = string.replaceAll('&quot;', '"');
		var n = n.replaceAll('&#x27;', '"');
		console.log(n);
		var data = JSON.parse(n);	
	} catch (e){
		console.log('invalid json');
	}	
	var layout = {
		yaxis: {
			rangemode: "tozero"
		}
	}
	var lines = [];
	lines.push({
		x: data['x'],
		y: data['mean'],
		margin: { t: 0 },
		name: 'mean',
		line: {
			color: 'rgb(70, 70, 70)'
		}
	});
	lines.push({
		x: data['x'],
		y: data['red'],
		margin: { t: 0 },
		name: 'red',
		line: {
			color: 'rgb(255, 51, 51)'
		}
	});
	lines.push({
		x: data['x'],
		y: data['green'],
		margin: { t: 0 },
		name: 'green',
		line: {
			color: 'rgb(51, 255, 51)'
		}
	});
	lines.push({
		x: data['x'],
		y: data['blue'],
		margin: { t: 0 },
		name: 'blue',
		line: {
			color: 'rgb(51, 51, 255)'
		}
	});

	Plotly.newPlot( TESTER, lines, layout);
</script>
{% endblock %}